

<!-- Slider
============================================= -->
<section id="slider" class="slider-element full-screen clearfix" style="background: url('/pet/images/hero-image.jpg') center right no-repeat; background-size: cover;">
	<div class="vertical-middle">
		<div class="container clearfix">

			<div class="emphasis-title dark">
				<h2 style="font-size: 40px; line-height: 1.4; font-weight: 600; text-shadow: 1px 1px 1px rgba(0,0,0,0.5);">Vende tus productos,<br>Y has que tu negocio cresca.</h2><br>
				<p class="t300" style="font-size: 16px; opacity: .7;">Quieres comercializa tus productos<br>y atraer mas compradores? Muy facil! sube tus productos,<br>publicalos y genera mas ingresos.</p>
				<a href="#" class="button button-large button-rounded noleftmargin">Join Us Now</a><span class="leftmargin-sm">+</span>
				<a href="#" class="button nobg noshadow"><i class="icon-gift" style="width: 40px; font-size: 40px; top: 10px;"></i></a>
				<br><em><small style="opacity: 0.4;">Every month a surprise gift*</small></em>

            </div>
                                
            <%= form_tag('/', :class => 'col-4', method: :post, remote: true) do %>
                <%= email_field_tag :email, nil, :class => 'form-control form-control-lg not-dark required email', :placeholder => "Enter your email address" %>                   
                <%= submit_tag('Subscribe', :class => 'button t400') %>
            <% end %>
            
		</div>
	</div>
</section>




<div style='<%= "display:node;" if alert.nil? && notice.nil? %>'>
    <%= notice %>
    <%= alert %>
</div>  


<%= @shopping_cart.in_shopping_carts %>
<%= @shopping_cart %>