<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Imagen:</strong>
  <%= image_tag(@product.imagen) %>
</p>

<p>
  <strong>Pricing:</strong>
  <%= @product.pricing %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @product.user %>
</p>

<p>
  <strong>State:</strong>
  <%= @product.state %>
</p>

<%= render 'in_shopping_carts/form', product: @product%>