<!DOCTYPE html>
<html>
  <head>
    <title>RailsE</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="https://storage.googleapis.com/material-design/publish/material_v_12/assets/0Bx4BSt6jniD7c0R4RUtiTkhMZTQ/materialdesign-goals-system.png" alt="First slide">
      </div>
    </div>
  </div>


   
    <div style='<%= "display:node;" if alert.nil? && notice.nil? %>'>
      <%= notice %>
      <%= alert %>
    </div>    

    <%= yield %>
    
  </body>
</html>
