<!DOCTYPE html>
<html>
  <head>
    <title>RailsE</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


   
    <div style='<%= "display:node;" if alert.nil? && notice.nil? %>'>
      <%= notice %>
      <%= alert %>
    </div>    

    <%= yield %>
    
  </body>
</html>
